/* Start Global Rules */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  /* --main-color: #6138e1;
    --main-color-alt: #1787e0; */
  --min-btn-color: #34a5e4;
  --main-transition: 0.3s;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f5f6f8;
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

.center-position {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* End Global Rules */
/* Start Media Query */
/* Small devices */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium devices */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large devices */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Media Query */

/* start landing */
.landing {
  position: relative;
}
.landing .container {
  height: calc(100vh - 200px);
}
.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url(../images/landing-image.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  height: 72px;
}
header ul {
  display: flex;
  align-items: center;
}
header ul li {
  padding-left: 20px;
  text-transform: lowercase;
}
header .btn {
  color: #fff9f8;
  height: 55px;
  padding: 15px;
  border: 1px solid #777f96;
  border-radius: 4px;
}
.header__toggle,
.header__close {
  display: none;
}
.txt-landing {
  width: 100%;
  flex-direction: column;
  color: white;
  padding: 5px 15px;
}
.txt-landing {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.txt-landing h1 {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}
.txt-landing p {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
  mix-blend-mode: normal;
  opacity: 0.88;
}
form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input {
  width: 500px;
  height: 50px;
  border: none;
  outline: none;
}
button {
  width: 50px;
  height: 50px;
  margin-right: -1%;
  border: none;
  outline: none;
  background-color: white;
  cursor: pointer;
}
button i {
  margin-left: 1%;
  font-size: 15px;
}
button:hover {
  color: white;
  background-color: #059862;
  transition: 0.3s linear;
}
#drop-down {
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  margin-left: -100px;
}

#drop-down option:focus {
  background-color: #059862;
  color: white;
}

@media (max-width: 767px) {
  form {
    margin-top: 180px;
  }
  form input {
    width: 300px;
  }
  #drop-down {
    width: 80px;
    margin-left: -80px;
  }
  .landing::before {
    background-position: center left;
  }
  .header__toggle {
    display: inline;
    color: #eeee;
    font-size: 24px;
  }

  .header__close {
    position: absolute;
    right: 24px;
    display: block;
    font-size: 24px;
    border-radius: 50%;
  }

  .header__close:hover {
    background-color: #00adb5;
  }

  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #222831;
    color: #eeee;
    width: 60%;
    height: 100vh;
    padding: 24px 0;
    z-index: 100;
    transition: 0.5s;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
  }

  .nav__item {
    margin: 2rem 0;
  }

  .show {
    right: 0;
  }
}
/* end landing */
/* Start Fetchers Section */
.Fetchers {
  margin-top: 300px;
}
.txt-Fetchers {
  display: flex;
  flex-direction: column;
}
.txt-Fetchers h1 {
  font-size: 45px;
  line-height: 58px;
  font-weight: 700;
  line-height: 0;
  /* text-align: center; */
}
.txt-Fetchers p {
  width: 615px;
  height: 56px;
  font-size: 16px;
  line-height: 28px;
  color: #5c6272;
  font-weight: 400;
  text-align: center;
}
.Fetchers-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-template-rows: auto auto auto;
  grid-gap: 2% 2%;
  margin-top: 50px;
}
.Fetchers-cards div {
  position: relative;
  height: 300px;
  background-color: #ffffff;
  padding: 0 10px 10px 65px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.Fetchers-cards div h1 {
  font-weight: 900;
  font-size: 1.3rem;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #1e2a39;
}
.Fetchers-cards div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #5c6272;
}
.card-1::before,
.card-2::before,
.card-3::before {
  content: "";
  width: 220px;
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
}
.card-1::before {
  background-image: url(../images/Icon-1.png);
}
.card-2::before {
  background-image: url(../images/Icon-3.png);
}
.card-3::before {
  background-image: url(../images/Icon-2.png);
}
.Fetchers-cards div img {
  width: 190px;
  height: 190px;
}
@media (max-width: 767px) {
  .txt-Fetchers h1 {
    font-size: 40px;
  }
  .txt-Fetchers p {
    width: 315px;
  }
}
/* End Fetchers Section */
/* Start ABOUT US Section */
.about-us {
  /* height: calc(100vh + 400px); */
  margin-top: 150px;
  margin-bottom: 100px;
  position: relative;
}
.about-us-slider::-webkit-scrollbar {
  display: none;
}

.about-us .about-us-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-us .about-us-txt span {
  width: 99px;
  height: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.17em;
  color: #4141a5;
}

.about-us .about-us-txt > :first-child p {
  width: 415px;
  height: 104px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.5px;
  color: #292929;
}

.about-us .about-us-txt > :nth-child(2) p {
  width: 472px;
  height: 84px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #5c6272;
}

.about-us-slider {
  width: 150%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow-x: auto;
  height: calc(100vh - 130px);
}
.about-us-slider div {
  /* border: 1px solid blue; */
  width: 540px;
}
.about-us-slider div {
  margin-left: 1%;
}
.slider-1 {
  display: flex;
  flex-direction: column;
  height: 544px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  border-radius: 6px;
  position: relative;
}
.slider-1 span {
  content: "،،";
  position: absolute;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  top: -44px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 50px;
  font-weight: bold;
}
.slider-txt {
  position: relative;
  padding-left: 20px;
  padding-right: 15px;
}
.slider-txt h2 {
  margin-top: 100px;
}
.slider-2,
.slider-3,
.slider-4,
.slider-5 {
  height: 300px;
}
.slider-img-1,
.slider-img-2,
.slider-img-2-active,
.slider-img-3,
.slider-img-4,
.slider-img-5 {
  height: 290px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 6px;
}

.active-img {
  height: 290px;
  border-radius: 6px 6px 0px 0px;
}
.slider-1 img {
  z-index: -1;
}
.slider-img-2 {
  background-image: url(../images/slider-img-2.jpg);
}
.slider-img-3 {
  background-image: url(../images/slider-img-3.jpg);
}
.slider-img-4 {
  background-image: url(../images/slider-img-4.jpg);
}
.slider-img-5 {
  background-image: url(../images/slider-img-5.jpg);
}
.buttons {
  width: 120px;
  position: absolute;
  left: 70%;
  top: 80%;
  transform: translate(-70%, -80%);
  display: flex;
  justify-content: space-between;
}

.previous,
.next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  font-size: 25px;
  font-weight: 500;
  transition: 0.5s;
}
.previous:hover,
.next:hover {
  background-color: #059862;
  color: white;
  cursor: pointer;
  transform: scale(1.1);
}
@media (max-width: 991px) {
  .about-us .about-us-txt > :first-child p {
    width: 320px;
  }

  .about-us .about-us-txt > :nth-child(2) p {
    width: 300px;
  }
}

@media (max-width: 991px) {
  .about-us .about-us-txt {
    flex-direction: column;
  }

  .about-us .about-us-txt > :first-child p {
    width: 100%;
    font-size: 35px;
    height: 84px;
  }

  .about-us .about-us-txt > :nth-child(2) p {
    width: 100%;
  }
  .buttons {
    left: 50%;
    top: 950px;
    transform: translateX(-50%);
  }
}
@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .about-us {
    overflow: hidden;
  }
  .about-us .about-us-txt > :nth-child(2) p {
    height: 110px;
  }
  .about-us-slider {
    height: calc(100vh - 140px);
    overflow: hidden;
  }
  .about-us-slider div:not(slider-txt) {
    width: 330px;
    height: auto;
  }
  .slider-img-1,
  .slider-img-2,
  .slider-img-3,
  .slider-img-4,
  .slider-img-5 {
    height: 177.21px;
  }
  .slider-1 span {
    width: 60px;
    height: 60px;
    top: -30px;
  }
  .slider-1 {
    height: 470px;
  }
  .slider-txt {
    padding-right: 15px;
  }
}
/* End ABOUT US Section */
/* Start article */
.article-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
  grid-template-rows: auto;
  grid-gap: 2% 2%;
  margin-top: 80px;
}
.txt-article {
  flex-direction: column;
}
.txt-article h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #1e2a39;
}
.txt-article p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #5c6272;
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  padding: 10px;
}
.cards img {
  align-self: center;
}
.price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price p {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #7c8291;
  padding-left: 7.5px;
}
.price span {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: right;
  letter-spacing: -0.01em;
  color: #ee6d52;
}
.cards h2 {
  padding-left: 7.5px;
}
.two {
  margin-top: 80px;
}
.two p {
  width: 521px;
  height: 56px;
}
.group-1,
.group-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

@media (max-width: 767px) {
  .group-1,
  .group-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .group-1 img,
  .group-2 img {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .two p {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .group-1,
  .group-2 {
    flex-direction: column;
  }
  .group-1 {
    margin-top: 100px;
  }
  .group-1 img,
  .group-2 img {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
/* End article */
/* Start Top city's section */
.top-citys {
  margin-top: 200px;
}
.top-citys-txt-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-city-btn {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}
.txt > :first-child {
  height: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.17em;
  color: #4141a5;
}
.txt > :nth-child(2) {
  height: 52px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.5px;
  color: #292929;
}
.txt > :nth-child(3) {
  width: 394px;
  height: 56px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #5c6272;
}
.top-city-cards {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-template-rows: auto;
  grid-row-gap: 1%;
  grid-column-gap: 6%;
}

.card-one,
.card-two,
.card-three {
  height: 495px;
  width: 364px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}
.card-one div,
.card-two div,
.card-three div {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 44px;
  left: 33px;
}
.card-one div > :first-child,
.card-two div > :first-child,
.card-three div > :first-child {
  font-weight: 700;
  font-size: 34px;
  line-height: 34px;
  color: #ffffff;
  text-shadow: 0px 6px 20px rgba(0, 0, 0, 0.4);
}
.card-one div > :nth-child(2),
.card-two div > :nth-child(2),
.card-three div > :nth-child(2) {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: #ffffff;
  opacity: 0.9;
}
.card-one > :first-child,
.card-two > :first-child,
.card-three > :first-child {
  position: absolute;
  left: 33px;
  top: 33px;
  height: 50px;
  background-color: #e9ebf31e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #e9ebf3;
}
.card-one > :first-child {
  width: 114px;
}
.card-two > :first-child {
  width: 148px;
}
.card-three > :first-child {
  width: 151px;
}
.card-one div span,
.card-two div span,
.card-three div span {
  padding: 10px 0px;
}

.card-one::before,
.card-two::before,
.card-three::before {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
}
.card-one::before {
  background-image: url(../images/al-arab-tower.png);
}
.card-two::before {
  background-image: url(../images/Bali.png);
}
.card-three::before {
  background-image: url(../images/Barcelona.png);
}
@media (max-width: 767px) {
  .card-one,
  .card-two,
  .card-three {
    margin: 20px auto;
  }
  .top-citys-txt-buttons {
    flex-direction: column;
    /* overflow-x: hidden; */
  }
  .top-city-btn {
    width: 120px;
    margin-top: 50px;
    align-self: center;
  }
  .txt > :nth-child(3) {
    width: 270px;
  }
}
/* End Top city's section */
