/* Start Global Rules */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    /* --main-color: #6138e1;
    --main-color-alt: #1787e0; */
    --min-btn-color: #34A5E4;;
    --main-transition: 0.3s;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fd;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* End Global Rules */
/* Start Media Query */
/* Small devices */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium devices */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large devices */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Media Query */